<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="..\static\style.css"/>
        	
        <title>Home</title>
	
    </head>
    
    <body>
        <p id="smart">Smart Bike Lock</p>
        <button id="click" onclick="NOW()">CLICK HERE NOW!!!</button>  
        <div id = "hi"> </div> 
    
	
<form action="action_page.php">
  <div class="container">
    <h2>Subscribe to our Newsletter</h2>
    <p>Smart Bike Lock</p>
  </div>

  <div class="container" style="background-color:white">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Email address" name="mail" required>
    <label>
      <input type="checkbox" checked="checked" name="subscribe"> Keep me updated!
    </label>
  </div>

  <div class="container">
    <input type="submit" value="Subscribe" onclick="Subscribe()">
  </div>
</form>
<script type="text/javascript" src="..\static\scripts.js"></script>
</body>
</html>
