{% extends "index.html" %}

    {% block body %}
<div class="w3-top">
 <div class="w3-bar w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/#" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>PHARO</a>
  <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Lock</a>
   <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Competitive Analysis</a>
  <a href="/#Aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Team</a>
  <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Subscribe to our newsletter</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button">Accessibility</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <p style="color: black; margin: 0px 0px;">Font Size</p>
      <label class="switch">
      <input type="checkbox" id= "toggle" value ="1">
      <span class="slider round"></span></label>
    <br>
    <p style="color: black; margin: 0px 0px;">Color Inverter</p>
    <label class="switch">
      <input type="checkbox" id= "inverter" value ="1">
      <span class="slider round"></span></label>
    </div>
  </div>
</label>
 </div>

  <!-- Navbar on small screens -->
  <div id="nav" class="w3-bar-block w3-theme-l5 w3-hide w3-hide-large w3-hide-medium w3-mobile">
    <a href="/#work" class="w3-bar-item w3-button">Our Lock</a>
     <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button">Competitive Analysis</a>
    <a href="/#Aboutus" class="w3-bar-item w3-button">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button">Our Team</a>
    <a href="/#contact" class="w3-bar-item w3-button">Subscribe to our newsletter</a>
    <div class="w3-dropdown-hover">
    <button class="w3-button w3-theme-l5">Accessibility</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <p style="color: white; margin: 0px 0px;">Font Size</p>
      <label class="switch">
      <input type="checkbox" id= "toggle" value ="1">
      <span class="slider round"></span></label>
    <br>
    <p style="color: white; margin: 0px 0px;">Color Inverter</p>
    <label class="switch">
      <input type="checkbox" id= "inverter" value ="1">
      <span class="slider round"></span></label>
    </div>
    </div>
  </div>
</div>



<div class="w3-row-padding" style="padding:20px 16px; background-color: white;" id="CA">

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 3%;
    margin-right: auto;
    margin-left: auto;

}
th {
    border: 0.8px solid #dddddd;
    text-align: left;
    padding: 5px;
    font-size: 20px; 
}


td {
    border: 0.8px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


<h2 class="w3-center"  style="padding:20px 16px;"><b>Competitive Analysis</b></h2>

<table>
  <tr>
    <th>Factors</th>
    <th>Pharo</th>
    <th>Linka</th>
    <th>U-Lock</th>
    <th>Chain Lock</th>
  </tr>
  <tr>
    <td><b>Security</b></td>
    <td>High</td>
    <td>Medium</td>
    <td>High</td>
    <td>Medium</td>
  </tr>
  <tr>
    <td><b>Convenience</b></td>
    <td>High</td>
    <td>High</td>
    <td>Low</td>
    <td>Medium</td>
  </tr>
  <tr>
    <td><b>Autonomous</b> </td>
    <td>Yes</td>
    <td>Yes</td>
    <td>No</td>
    <td>No</td>
  </tr>
  <tr>
    <td><b> Price</b></td>
    <td>$70</td>
    <td>$200</td>
    <td>$50</td>
    <td>$30</td>
  </tr>
  <tr>
    <td><b>Phone App</b></td>
    <td>IOS and Android</td>
    <td>IOS and Android</td>
    <td>No</td>
    <td>No</td>
  </tr>
  <tr>
    <td><b>GPS Tracking</b></td>
    <td>Yes</td>
    <td>No</td>
    <td>No</td>
    <td>No</td>
  </tr>
    <tr>
    <td><b>Alarm</b></td>
    <td>Sounds/Lights</td>
    <td>Sounds</td>
    <td>No</td>
    <td>No</td>
  </tr>
      <tr>
    <td><b>Transportation</b></td>
    <td>Attached</td>
    <td>Attached</td>
    <td>Carried with</td>
    <td>Carried with</td>
  </tr>
      <tr>
    <td><b>Length</b></td>
    <td>Long</td>
    <td>N/A</td>
    <td>Short</td>
    <td>Medium</td>
  </tr>
      <tr>
    <td><b>Weight</b></td>
    <td>Light</td>
    <td>Light</td>
    <td>Heavy</td>
    <td>Heavy</td>
  </tr>
</table>
<br>
<hr>
<div class="SWOT">
<div class="w3-row">
<div class="w3-half">

<b><p style="text-align: center;">Strengths</p></b>
<ul>
  <li>The best combination of security, convenience and price</li>
  <li>Autonomous locking and unlocking mechanism</li>
  <li>Theft Security
    <ul>
    <li>Mobile notification of potential threat</li>
    <li>GPS tracking when bike moves</li>
    <li>Sound alarm and flashing lights on bike</li>
    </ul>
  </li>
  </ul>
</div>
<div class="w3-half">
  <b><p style="text-align: center;">Weaknesses</p></b>
     <ul>
  <li>Technical: adding an attachable chain to Pharo</li>
  <li>Technical: cost of production needs to be reduced</li>
  <li>Technical: Potential installation issues</li>
</ul>
</div>
</div>

<div class="w3-row-padding">
<div class="w3-half">
<b><p style="text-align: center;">Opportunities</p></b>
     <ul>
  <li>Bike theft is very prevalent in certain cities worldwide (Copenhagen, Amsterdam)</li>
  <li>Targeted marketing in large cities and college campuses</li>
  <li>Wireless tracking of bike (GPS and theft alert)</li>
  <li>Connecting the bikes to smart phones</li>
</ul>
</div>
<div class="w3-half">
<b><p style="text-align: center;">Threats</p></b>
     <ul>
  <li>Business: Customers won’t switch bike locks; must sell at point of purchase of bike</li>
  <li>Obtaining market share</li>
</ul>
</div>
    </div>
    </div>
</div>
</div>


<footer class="w3-container w3-padding-32 w3-center" style="background-color: #0d9191;"">
  <h4 style="color: white;">Follow Us</h4>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-white w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p style="color: white;">Powered by PHARO Inc.</p>

<script type="text/javascript" src="../static/CA.js"></script>


    {% endblock %}
