{% extends "index.html" %}

    {% block body %}
<div class="w3-top">
 <div class="w3-bar w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/#" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>PHARO</a>
  <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Lock</a>
   <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Competitive Analysis</a>
  <a href="/#Aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Team</a>
  <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Subscribe to our newsletter</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button">Accessibility</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <p style="color: black; margin: 0px 0px;">Font Size</p>
      <label class="switch">
      <input type="checkbox" id= "toggle" value ="1">
      <span class="slider round"></span></label>
    <br>
    <p style="color: black; margin: 0px 0px;">Color Inverter</p>
    <label class="switch">
      <input type="checkbox" id= "inverter" value ="1">
      <span class="slider round"></span></label>
    </div>
  </div>
</label>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-l5 w3-hide w3-hide-large w3-hide-medium">
    <a href="#work" class="w3-bar-item w3-button">Our Lock</a>
     <a href="/CompetitveAdvantage" class="w3-bar-item w3-button">Competitive Analysis</a>

    <a href="#Aboutus" class="w3-bar-item w3-button">About Us</a>
    <a href="#team" class="w3-bar-item w3-button">Our Team</a>
    <a href="#contact" class="w3-bar-item w3-button">Subscribe to our newsletter</a>
    <div class="w3-dropdown-hover">
    <button class="w3-button w3-theme-l5">Accessibility</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <p style="color: white; margin: 0px 0px;">Font Size</p>
      <label class="switch">
      <input type="checkbox" id= "toggle" value ="1">
      <span class="slider round"></span></label>
    <br>
    <p style="color: white; margin: 0px 0px;">Color Inverter</p>
    <label class="switch">
      <input type="checkbox" id= "inverter" value ="1">
      <span class="slider round"></span></label>
    </div>
    </div>
  </div>
</div>


<!-- Image Header -->
<!-- <div class="w3-display-container w3-animate-opacity">
  <img src="../static/Main2.jpg" alt="Bike Lock" style="width:100%;min-height:350px;max-height:650px;">
  </div>
</div>
 -->
<div class="container">
  <img src="../static/Main2.jpg" alt="Bike Lock" style="width:100%;min-height:350px;max-height:650px;">
 <!--  <div class="bottom-left">><a href="#contact" class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off">Subscribe To Our Newsletter</a>
  </div> -->
</div>




<!-- Team Container -->

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64" style="background-color: #0d9191;" id="work">

<div class="w3-quarter">

<h2 style="text-align: center; color: white; ">Our Lock</h2>
<p style="text-align:center; color: white; ">Convenient. Intuitive. Secure.</p>
<p style="color: white;"> Pharo combines convience, simplicity and security into an easy attachable lock. With quick installation and complimentary app, Pharo is the smart lock of the future! Preorder today!</p>

<br>
<h2 style="text-align: center; color: white;">Price: $69.95 </h2>

</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="height:420px;">
  <img src="../static/App.png" alt="Easy to Use App" style="width:100%; height:175px;">
  <div class="w3-container">
  <h3>Intuitive App</h3>

  <p style="padding: 10px 10px;">Our conjunct app allows you to lock and unlock your bike with the press of a button, quick and efficent. No more wrestling with keys or locks!<p>

  </div>
  </div>
</div>

<div class="w3-quarter">
<div class="w3-card w3-white" style="height:420px;">
  <img src="../static/GPS.jpg" alt="GPS Tracking" style="width:100%; height:175px;">
  <div class="w3-container">
  <h3>GPS Tracking</h3>

  <p style="padding: 10px 10px;">For the extra security on your bike, our lock contains an embedded GPS Tracker to inform the bike's location at all times. We send notifications if the bike moves!</p>

    </div>
</div>
</div>
<div class="w3-quarter">
<div class="w3-card w3-white" style="height:420px;">
  <img src="../static/Easy.png" alt="Easy to Install" style="width:100%; height:175px;">
  <div class="w3-container">
  <h3>Easy to Install</h3>

  <p style="padding: 10px 10px;">With seamless installation, Pharo can be quickly attached without leaving a single scratch on your bike!</p>

  </div>
  </div>
</div>

</div>

<!-- About Us -->
<div class="w3-row-padding" style="padding:20px 16px" id="Aboutus">
  <h3 class="w3-center"><b>About Us</b></h3>
  <div class="w3-row" style="margin-bottom: 20px;"">

  <div class="w3-half w3-card mission" style="height: 250px;">
   <h3 class="w3-center">Our Mission</h3>
  <p style="margin:10px 16px 21px 16px;">Our mission as Pharos is to support our cycling community by ensuring a <b>convenient</b> and <b> secure </b> bike lock. As college students and working professionals, we <b>value</b> your time and energy. Pharo enables you to conveniently <b>secure bikes</b> in any location, <b>without worry</b> of theft. With our patent-pending design and embedded technology, Pharo will exceed your expectations. Our concern is you and our goal is to <b>protect</b> your bike!</p>
  </div>
  <div class="w3-half w3-card mission" style="padding:10px 16px; height: 250px;" >
   <h3 class="w3-center">Our Business Model</h3>
   <div style="text-align: center; margin-top: 10%">
   <input type="button" value ="Click me to find out our business model!" onclick="pop()">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id=hello> </p>
    </div>
 </div>
  </div>

</div>
</div>


<div class="w3-container w3-center" style="background-color: #0d9191; padding: 3%; color: white;" id="team">
<h2><b>OUR TEAM</b></h2>
<p>Meet the team:</p>

<div class="w3-row"><br>

<div class="w3-third">
  <img src="../static/Alan.jpg" alt="Alan Yessenbayev: Systems Engineer" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Alan Yessenbayev</h3>
  <p>Systems Engineer</p>
</div>


<div class="w3-third">
  <img src="../static/Alex.jpg" alt="Alexandra Hernandez: Designer and App Developer" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Alexandra Hernandez</h3>
  <p>Designer and App Developer</p>
</div>

<div class="w3-third">
  <img src="../static/Jerry.jpg" alt="Jerry Yihui Yang: Hardware and Mechanical Engineer" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Jerry Yihui Yang</h3>
  <p>Hardware and Mechanical Engineer</p>
</div>

</div>
<div class="w3-row"><br>

<div class="w3-half">
  <img src="../static/Justin.jpg" alt="Justin Tran: Website and Server Developer" style="width:35%" class="w3-circle w3-hover-opacity">
  <h3>Justin Tran</h3>
  <p>Website and Server Developer</p>
</div>

<div class="w3-half">
  <img src="../static/Ahnaf.jpg" alt="Ahnaf Ahmed: Product Manager" style="width:35%" class="w3-circle w3-hover-opacity">
  <h3>Ahnaf Ahmed</h3>
  <p>Product Engineer</p>
</div>

</div>
</div>



<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <h3 class="w3-center">Subscribe to our Newsletter</h3>
  <div class="w3-row">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" id="ContactForm" action="/thankyou">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input" id="Name" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input" id="Email" type="text" name="Email" required>
      </div>
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>Keep me updated!</label>
      <a href="/thankyou"> <button type="submit" class="w3-button w3-right w3-theme" id="Submit">Send</button></a>
      </form>
  </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center" style="background-color: #0d9191;"">
  <h4 style="color: white;">Follow Us</h4>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-white w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p style="color: white;">Powered by PHARO Inc.</p>

  <div style="position:relative;bottom:100px;z-index:1; background-color: white;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-white w3-hide-small" style="background-color: white;">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script type="text/javascript" src="../static/index.js"></script>



    {% endblock %}
