<!DOCTYPE html>
<html>
<title>Pharo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body id="myPage">

<div class="w3-top">
 <div class="w3-bar w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/#" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>PHARO</a>
  <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Lock</a>
   <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Competitive Analysis</a>
  <a href="/#Aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Team</a>
  <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Subscribe to our newsletter</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button">Accessibility</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <p style="color: black; margin: 0px 0px;">Font Size</p>
      <label class="switch">
      <input type="checkbox" id= "toggle" value ="1">
      <span class="slider round"></span></label>
    <br>
    <p style="color: black; margin: 0px 0px;">Color Inverter</p>
    <label class="switch">
      <input type="checkbox" id= "inverter" value ="1">
      <span class="slider round"></span></label>
    </div>
  </div>
</label>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-l5 w3-hide w3-hide-large w3-hide-medium">
    <a href="/#work" class="w3-bar-item w3-button">Our Lock</a>
     <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button">Competitive Analysis</a>
    <a href="/#Aboutus" class="w3-bar-item w3-button">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button">Our Team</a>
    <a href="/#contact" class="w3-bar-item w3-button">Subscribe to our newsletter</a>
</div>



 {% block body %}
     {% endblock %}

</body>
</html>
