{% extends "index.html" %}

    {% block body %}

<div class="w3-top">
 <div class="w3-bar w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/#" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>PHARO</a>
  <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Lock</a>
   <a href="/CompetitiveAdvantage" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Competitive Analysis</a>
  <a href="/#Aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
    <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Team</a>
  <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Subscribe to our newsletter</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-l5 w3-hide w3-hide-large w3-hide-medium">
    <a href="#work" class="w3-bar-item w3-button">Our Lock</a>
     <a href="/CompetitveAdvantage" class="w3-bar-item w3-button">Competitive Analysis</a>
    <a href="#Aboutus" class="w3-bar-item w3-button">About Us</a>
    <a href="#team" class="w3-bar-item w3-button">Our Team</a>
    <a href="#contact" class="w3-bar-item w3-button">Subscribe to our newsletter</a>
</div>


<div class="w3-row-padding w3-padding-64 SWOT" style="background-color: #0d9191; width: 80%; color: white; margin-bottom: 10%; margin-top: 5%; border-radius: 25px;" >
  <P style="text-align: center;">Thank you so much for being interested in The Pharo Lock! These newletters update you on the progress of our lock.<p>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center" style="background-color: #0d9191;"">
  <h4 style="color: white;">Follow Us</h4>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-white" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-white w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p style="color: white;">Powered by PHARO Inc.</p>
</footer>

    {% endblock %}
